*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 18px 36px;
    color: #1ABC0F;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    border: 2px solid #1ABC0F;
    filter: drop-shadow(0px 10px 50px rgba(26, 188, 15, 0.65));
}

.menu__btn {
    display: none;
}

.button:hover {
    background: #1ABC0F;
    color: #ffffff;
}

.header {
    min-height: 900px;
    background-image: url(../images/social/header__BG.jpg);
    background-size: cover;
    background-position: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}

.menu {
    margin-right: 188px;
}

.header__list {
    display: flex;
}

.header__social {
    display: flex;
}

.header__logo {
    margin-right: 15px;
}

.header__logo:last-child {
    margin-right: 0;
}

.header__item {
    font-size: 15px;
    line-height: 18px;
    margin-right: 50px;
    cursor: pointer;
    transition: color .5s;
}

.header__item:hover {
    color: #1ABC0F;
}

.header__item:last-child {
    margin-right: 0;
}

.logo {
    margin-right: 100px;
}

.top {
    margin-top: 163px;
}

.top__inner {
    display: flex;
    justify-content: space-between;
}

.top__img {
    background-size: cover;
    margin-right: 17px;
}

.top__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    margin-bottom: 40px;
}

.top__text {
    margin-bottom: 40px;
}

.header__button {
    margin-right: 30px;
}

.advantages {
    background: #151515;
    min-height: 681px;
}

.advantages__items {
    display: flex;
}

.advantages__item {
    display: flex;
    max-width: 388px;
    margin-right: 20px;
    margin-bottom: 73px;
}

.advantages___title {
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 113px;
}

.advantages__item-title {
    font-weight: 500;
    margin-bottom: 15px;
}

.advantages__text {
    font-size: 15px;
    line-height: 17.58px;
}

.advantages__logo {
    margin-right: 33px;
}

.present {
    display: flex;
    justify-content: center;
}

.present__link{
    display: inline-block;
    background: #1A3236;
    padding: 18px 36px;
    border-radius: 8px;
    text-align: center;
    margin-right: 40px;
    cursor: pointer;
}

.present__subtitle {
    font-size: 15px;
    line-height: 17.58px;
}

.present__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/* easy */

.easy {
    background-color: black;
    min-height: 1055px;
}

.easy__items {
    display: flex;
    justify-content: space-between;
}

.easy__item {
    text-align: center;
}

.easy__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 58.59px;
    padding-top: 120px;
    margin-bottom: 80px;
    text-align: center;
}

.easy__text {
    padding-bottom: 120px;
    font-size: 15px;
    line-height: 17.59px;
    color: #1ABC0F;
    text-align: center;
}

.easy__img {
    margin-bottom: 40px;
}

.easy__item-text {
    margin-bottom: 40px;
    position: relative;
}

.easy__item-text {
    max-width: 388px;
}

.first:before {
    content: '';
    background-color: #1ABC0F;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: -28px;
    top: 5px;
}

.easy__item-text:after {
    content: '';
    background-color: #1ABC0F;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: -16px;
    margin-right: -5px;
}



/*private*/

.private {
    min-height: 378px;
    background-image: url(../images/BG.jpg);
}

.private__content {
    margin-left: 358px;
}

.private__subtutle {
    padding-top: 80px;
    margin-bottom: 15px;
}

.private__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 58.59px;
    max-width: 784px;

}

.adaptive {
    min-height: 979px;
    background-color: #000;
}

/*condition*/

.conditions {
    background: #151515;
    min-height: 563px;
}

.advantages__conditions {
    justify-content: center;
    align-items: center;
}


/*questions*/

.questions {
    background-color: #000;
    min-height: 990px;
}

.questions__input {
    width: 0;
    height: 0;

    -webkit-appearance: none;
    appearance: none;

    position: absolute;
    
}

.questions__input:checked + .questions__subtext {
    display: block;
}

.questions__subtext {
    display: none;
    padding: 15px 78px 15px 30px;
    height: 80px;
    
}
    
.questions__title {
    padding-top: 120px;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
}

.questions__list {
    list-style: none;
    margin: 0 auto;
    max-width: 637px;
}

.questions__item {
    background: #1A3236;
    margin-bottom: 40px;
    border-radius: 8px;
    text-align: left;
    position: relative;
}

.question__footer {
    border: 2px solid #1A3236;
    width: 635px;
    border-radius: 8px;
}

.questions__text {
    display: block;
    padding: 15px 78px 15px 30px;
    cursor: pointer;
    position: relative;
}

.questions__text:after {
    content: url(../images/plus.svg);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.question__footer {
    margin: 0 auto;
}

.question__footer-text {
    font-size: 15px;
    line-height: 18px;
}

.question__footer-title {
    margin-bottom: 15px;
    position: relative;
}

.question__footer-title:after {
    content: '';
    background-color: #1ABC0F;
    width: 16px;
    height: 2px;
    position: absolute;
    right: -53px;
    top: 20px;
}

.question__content {
    padding: 15px 76px 15px 30px;
}

/*services*/

.services {
    background-color: #151515;
    min-height: 703px;
}

.services__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    padding-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

.services__content {
    margin: 0 auto;
    max-width: 592px;
}

.services__list {
    list-style-image: url(../images/Icon.svg);
    margin-left: 23px;
    margin-bottom: 40px;
}

.services__subtext {
    margin-bottom: 26px;
    color: #1ABC0F;
}

.services__item {
    margin-bottom: 26px;
}

.services__button {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    padding: 18px 36px;
    color: #1ABC0F;
    border-radius: 8px;
    width: 278px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    border: 2px solid #1ABC0F;
    filter: drop-shadow(0px 10px 50px rgba(26, 188, 15, 0.65));
}

.services__button:hover {
    background: #1ABC0F;
    color: #ffffff;
}

.footer {
    min-height: 467px;
    background: #1A3236;
}

.footer__inner {
    display: flex;
    padding-top: 80px;
}

.footer__item-one {
    margin-right: 122px;
}

.footer__item {
    margin-bottom: 58px;
}

.footer__item:nth-child(2) {
    margin-right: 82px;
}

.footer__logo {
    margin-bottom: 40px;
}

.footer__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color .5s;
}

.footer__text:hover {
    color: #1ABC0F;
}

.footer__title {
    margin-bottom: 35px;
}

.footer__content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.footer__icon {
    margin-right: 20px;
}

.footer__text-last {
    margin-top: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #2A4F55;
    text-align: center;
    padding-bottom: 40px;
}

@media (max-width: 1366px) {
    .header {
        min-height: 786px;
    }

    .private {
        background-position: center;
    }
}

@media (max-width: 1320px) {
    .easy__item-text:after {
        display: none;
    }

    .easy__item-text::before {
        display: none;
    }
}


@media (max-width: 1143px) {
    .menu {
        margin-right: 139px;
        margin-left: 32px;
        display: flex;
    }

    .header__item {
        white-space: nowrap;
    }

    .container {
        padding: 0 20px;
    }

    .header {
        min-height: 671px;
    }

    .top {
        margin-top: 124px;
    }

    .top__title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 19px;
    }

    .top__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }

    .header__social {
        display: none;
    }

    .top__img {
        max-width: 268px;
    }

    .first:before {
        left: -2px;
    }

    .first {
        padding: 0 2px;
    }

    .easy__item-text:after {
        display: none;
    }

    .easy__item-text:before {
        display: none;
    }

}

@media (max-width: 987px) {

    .menu {
        
        margin-left: 0;
    }

}

@media (max-width: 940px) {
    .top__title {
        font-size: 47px;
        line-height: 47px;
    }

    .top__text {
        max-width: 450px;
    }

    .top__button {
        padding: 14px 18px;
        font-size: 17px;
    }

    .header__button {
        padding: 14px 18px;
        margin-right: 16px;
        font-size: 17px;
    }

    .advantages___title {
        font-size: 47px;
        line-height: 35px;
    }

    .advantages__item-title {
        font-size: 18px;
        line-height: 21px;
    }

    .advantages__text {
        font-size: 15px;
        line-height: 18px;
    }
}

@media  (max-width: 920px) {
    .logo {
        margin-right: 49px;
    }
}

@media (max-width: 913px) {
    .advantages__logo {
        width: 83px;
    }

    .advantages___title {
        padding-top: 61px;
        padding-bottom: 99px;
    }

    .avtantages {
        min-height: 672px;
    }
}

@media (max-width: 900px) {
    .top__title {
        font-size: 47px;
        line-height: 47px;
    }

    .top__text {
        font-size: 18px;
        line-height: 21px;
    }

    .top {
        margin-top: 91px;
    }

    .header__button {
        margin-bottom: 13px;
    }

    .easy__img {
        width: 200px;
    }

    .private__content {
        margin-left: 185px;
    }

    .easy__title {
        font-size: 47px;
        line-height: 35px;
        margin-bottom: 92px;
    }

    .private__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
    }

    .private__content {
        margin-left: auto;
        max-width: 80%;
    }

    .advantages__items {
        flex-wrap: wrap;
    }

    .conditions {
        min-height: 500px;
    }


    .footer__item-one {
        margin-right: 38px;
    }

    .easy__item {
        width: 200px;
        margin-right: 20px;
    }

    .easy__item:last-child {
        margin-right: 0;
    }

    .easy__items {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .easy__item-text {
        font-size: 15px;
        line-height: 18px;
    }

    .easy {
       min-height: 905px; 
    }

    .easy__img {
        margin-bottom: 20px;
    }

    .adaptive {
        min-height: 891px;
    }

    .conditions {
        min-height: 515px;
    }

    .present__link {
        padding: 12px 36px
    }

    .services__title {
        padding-top: 74px;
    }
}

@media (max-width: 872px) {
    .logo {
        margin-right: 20px;
    }
}

@media (max-width: 840px) {
    .header__inner {
        flex-wrap: wrap;
    }

    .header__list {
        margin-top: 15px;
    }
}

@media (max-width: 838px) {
  
}

@media (max-width: 779px) {
    .top__heading {
        margin: 0 auto;
    }

    .top__img-phone {
        margin: 0 auto;
    }
}

@media (max-width: 765px) {

    .top__img {
        margin-right: -8px;
    }

    .top__img {
        max-width: 232px;
    }

    .header {
        min-height: 700px;
    }
    .advantages__items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantages {
        min-height: 450px;
        padding-bottom: 30px;
    }

    .advantages___title {
        padding-top: 57px;
        padding-bottom: 55px;
        font-size: 39px;
    }

    .advantages__item {
        margin-right: 0;
        margin-bottom: 45px;
    }

    .easy {
        min-height: 796px;
    }

    .easy__title {
        padding-top: 54px;
        margin-bottom: 56px;
    }

    .easy__text {
        padding-bottom: 71px;
    }

    .private {
        min-height: 338px;
    }

    .adaptive {
        min-height: 726px;
    }
    
    .easy__item {
        max-width: 200px;
    }

    .advantages__items {
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }

    .questions {
        min-height: 863px;
    }

    .questions__title {
        margin-bottom: 47px;
        padding-top: 47px;
    }

    .easy__title {
        font-size: 41px;
        line-height: 39px;
    }
}

@media (max-width: 744px) {
    .footer__item:nth-child(2) {
        margin-right: 27px;
    }

    .footer__item-one {
        margin-right: -46px;
    }
}

@media (max-width: 737px) {
   
}

@media (max-width: 700px) {
    .footer__inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__item {
        margin-bottom: 0;
    }

    .footer__text {
        line-height: 12px;
    }

    .footer__title {
        margin-bottom: 15px;
    }
}

@media (max-width: 692px) {
    .questions {
        padding-bottom: 50px;
    }
}

@media (max-width: 685px) {
    .questions__item {
        margin: 0 auto 40px;
        width: 84%;
    }
}

@media (max-width: 677px) {
    .questions__title {
        font-size: 39px;
    }

    .services__title {
        font-size: 39px;
    }

    .question__footer {
        max-width: 500px;
    }

    .questions__list {
        width: none;
    }
}

@media (max-width: 646px) {

    .header__inner {
        padding-top: 31px;
    }

    .header__list {
        display: block;
        position: absolute;
        top: -19px;
        right: 0;
        background-color: #1A3236;
        height: 705px;
        width: 59%;
        z-index: 1;
        padding: 140px 113px;
        transform: translateY(-705px);
        transition: all .5s;
    }

    .header__list.header__list--active {
        transform: translateY(0);
    }

    .header__item {
        margin-bottom: 40px;
    }

    .menu {
        margin-right: 10px;
    }

    .menu__btn {
        display: block;
        cursor: pointer;
        width: 35px;
        height: 24px;
        border: none;
        border-top: 2px solid #fefefe;
        border-bottom: 2px solid #fefefe;
        background-color: transparent;
        position: relative;
        z-index: 2;
    }

    .menu__btn:before {
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fefefe;
        left: 0;
        top: 9px;
    }

    .menu__btn:before.menu__btn--active {
        transform: scale(0) translate(0px, -50%);
    }
}

@media (max-width: 614px) {
    .footer__item-one {
        margin-right: -69px;
    }
}

@media (max-width: 613px) {
    .questions__subtext {
        padding: 0 78px 15px 30px;
    }

    .services__title {
        padding-top: 68px;
    }
}

@media (max-width: 609px) {
    .questions__text {
        font-size: 22px;
    }

    .questions__item {
        margin-bottom: 23px;
    }

}

@media (max-width: 561px) {
    .top__img {
        max-width: 195px;
    }
}

@media (max-width: 532px) {
    .present__link {
        padding: 9px 29px
    }

    .question__footer {
        max-width: 443px;
    }
}

@media (max-width: 535px) {
    .present__title {
        font-size: 17px;
    }
}

@media (max-width: 518px) {
    .header__list {
        padding: 140px 84px;
    }
}

@media (max-width: 499px) {
    .top__title {
        font-size: 42px;
    }

    .top__text {
        font-size: 17px;
    }

    .present__subtitle {
        font-size: 14px;
    }
}

@media (max-width: 491px) {
    .present {
        flex-wrap: wrap;
    }

    .present__link {
        margin-bottom: 17px;
    }

    .present {
        width: 250px;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media (max-width: 486px) {
    .services {
        padding-bottom: 50px;
    }
}

@media (max-width: 453px) {
    .header__list {
        padding: 140px 59px;
    }
}

@media (max-width: 450px) {
    .footer__inner {
        flex-direction: column;
        margin-left: 68px;
    }

    .footer__item {
        width: 100%;
    }
}

@media (max-width: 478px) {
    .header__list.header__list.header__list--active {
        height: 803px;
    }
}

@media (max-width: 474px) {
    .advantages___title {
        padding-top: 47px;
    }
}

@media (max-width: 471px) {
    .header__button {
        margin-bottom: 12px;
    }

    .question__footer {
        max-width: 320px;
    }

    .question__footer-title {
        font-size: 20px;
    }
}

@media (max-width: 449px) {
    .top__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .top {
        margin-top: 69px;
    }
    .top__inner {
        justify-content: none;
        flex-wrap: wrap;
    }

    .top__heading {
        margin-bottom: 43px;
    }

    .header {
        max-height: 799px;
    }

    .top__img {
        max-width: 268px;
        margin: 0 auto;
        width: 90%;
    }

    .advantages {
        max-height: 1074px;
    }

    .advantages___title {
        font-size: 35px;
    }
}

@media (max-width: 487px) {
    .easy__item {
        width: 100%;
    }

    .private__title {
        font-size: 35px;
    }

    .private__subtutle {
        padding-top: 50px;
    }
}

@media (max-width: 472px) {
    .footer__content {
        flex-wrap: wrap;
    }
}

@media (max-width: 450px) {
    .easy__item:last-child {
        margin-right: 20px;
    }
}

@media (max-width: 407px) {
    .top__img {
        width: 75%;
    }
}

@media (max-width: 410px) {
    .private__title {
        font-size: 30px;
    }

    .questions__text {
        font-size: 20px;
        line-height: 18px;
    }

    .questions__subtext {
        font-size: 20px;
        line-height: 18px;
    }

    .header {
        max-height: 850px;
    }

    .header__list.header__list.header__list--active {
        height: 854px;
    }

}

@media (max-width: 381px) {
    .questions__footer-title {
        font-size: 18px;
    }

    .footer__inner {
        margin-left: 16px;
    }

    .header__list {
        width: 100%;
        opacity: 98%;
        padding: 140px 116px;
    }
}

@media (max-width: 371px) {

}

@media (max-width: 369px) {
    .top__img {
        width: 65%;
    }

    .private__content {
        margin-left: 13px;
    }

    .private__title {
        line-height: 38px;
    }

    .questions__item {
        width: 92%;
    }
}

@media (max-width: 350px) {
    .top {
        margin-top: 69px;
    }

    .question__content {
        padding: 15px 76px 15px 6px;
    }
}

@media (max-width: 345px) {
    .question__footer {
        max-width: 292px;
    }
}

@media (max-width: 335px) {
    .questions__text {
        font-size: 19px;
    }
}

@media (max-width: 320px) {
    .header__list {
        padding: 140px 92px;
    }
}